/*Gloock for headings*/
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

/*Fjalla One for content*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;
    --color-1: #F9F6F3;
    --color-2: #F3F7F9;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}